.bg-sec4 {
	width: 100%;
	height: 100%;
	background-color: white;
}

.bg-img-custom {
	width: 100%;
	height: 1600px;
	position: relative;
}

.bg-img-custom img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
}

.bg-abs-top {
	position: absolute;
	top: 0;
	width: 100%;
	height: 751px;
	display: flex;
	justify-content: center;
}

.card-form {
	width: 1291px;
	background-color: #cca3c8;
	height: 100%;
	border-radius: 15px 0 15px 15px;
	padding: 3rem;
	display: flex;
	flex-direction: column;
}

.form-wrap {
	width: 43%;
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}

.pad-4 {
	padding-left: 2rem;
	height: 100%;
}

.form-send {
	display: flex;
	flex-direction: column;
	width: 60%;
}

.top-form {
	display: flex;
	flex-direction: row;
	height: 70%;
}

.text-title-4 {
	color: white;
	font-size: 2rem;
	word-spacing: 2px;
	font-family: "Poppins";
	margin: 1rem 0;
}
.form-title {
	color: white;
	font-size: 20px;
	word-spacing: 2px;
	font-family: "Poppins";
}

.sub-title-4 {
	color: #908c8c;
	font-size: 20px;
	word-spacing: 2px;
	font-family: "Inter";
	line-height: 2.5rem;
}

.form-control-custom-4 {
	width: 100%;
	height: 80px;
	border-radius: 15px 0 15px 15px;
	background-color: white;
	border: unset;
	margin: 1rem 0;
	font-size: 20px;
	padding: 0.5rem 1rem;
}

.textarea-custom-4 {
	width: 100%;
	height: 251px;
	border-radius: 15px 0 15px 15px;
	background-color: white;
	border: unset;
	margin: 1rem 0;
	padding: 1rem;
	font-size: 20px;
}

.form-control-custom-4:focus,
.textarea-custom-4:focus {
	outline: unset;
}

.btm-form {
	height: 80px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	margin-top: 1rem;
}

.btn-send-4 {
	width: 40%;
	height: 100%;
	background-color: #2fc9ef;
	border-radius: 15px 0 15px 15px;
	display: flex;
	justify-content: center;
	cursor: pointer;
}

.btn-send-4 span {
	color: white;
	font-size: 20px;
	word-spacing: 2px;
	font-family: "Poppins";
	margin: auto;
}

.btn-send-4 svg {
	color: white;
	margin: auto auto auto 1rem;
	height: 32px;
	width: 32px;
}

.bg-right-4 {
	position: absolute;
	top: 11%;
	width: 525px;
	height: 586px;
	right: 9%;
}

.bg-right-4 img:first-child {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.bg-right-4 :nth-child(4) {
	width: 30px;
	height: 30px;
	object-fit: contain;
	top: 50%;
	left: 54%;
}

.bg-right-4 :nth-child(5) {
	width: 71px;
	height: 71px;
	object-fit: contain;
	top: 47%;
	left: 50%;
}

.bg-right-4 :nth-child(6) {
	width: 57px;
	height: 57px;
	object-fit: contain;
	top: 6%;
	right: 9%;
}

.bg-right-4 :nth-child(7) {
	width: 29px;
	height: 30px;
	object-fit: contain;
	top: 8%;
	right: 12%;
}

.contact {
	width: 100%;
	height: 419px;
	position: absolute;
	bottom: 11%;
	z-index: 1;
	display: flex;
	justify-content: center;
}

.pd-2 {
	padding: 0 2rem;
}

.listed {
	width: 65% !important;
	display: flex;
	flex-direction: row;
}

.text-1 {
	color: white;
	font-size: 20px;
	word-spacing: 2px;
	font-family: "Inter";
	margin-top: 1rem;
	line-height: 2.5rem;
}

.tx-custom :first-child {
	color: white;
	font-size: 20px;
	word-spacing: 2px;
	font-family: "Inter";
	margin-bottom: 2rem;
}

.tx-custom :not(:first-child) {
	color: white;
	font-size: 16px;
	word-spacing: 2px;
	font-family: "Inter";
	margin-bottom: 1rem;
}
